@keyframes navMove {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222; }

.main--subhead {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500; }
  .main--subhead-white {
    color: white; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-top-big {
  margin-top: 4rem; }

.header__primary--nav--li .btn-nav:link, .header__primary--nav--li .btn-nav:visited {
  margin-right: 3rem;
  border-bottom: solid #2980b9;
  text-decoration: none;
  color: #222;
  padding: 4px; }

.header__primary--nav--li .btn-nav:hover {
  color: #efefef;
  background-color: #2980b9;
  box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.13); }

.portfolio-image {
  text-align: center;
  -webkit-transition: transform .3s ease;
  transition: transform .3s ease;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
  backface-visibility: hidden; }
  .portfolio-image--img {
    height: 20rem; }
  .portfolio-image--text {
    text-align: center;
    font-size: 1.6rem;
    color: #444;
    letter-spacing: 1.1px; }
  .portfolio-image:hover {
    transform: translateY(-1rem) scale(1.04);
    outline: 1rem solid #2980b9;
    outline-offset: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4); }

.social-media ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 45rem;
  margin-top: 4rem; }

.social-media .fa-linkedin:hover,
.social-media .fa-github-alt:hover,
.social-media .fa-twitter:hover {
  color: #2aa2ef;
  transform: scale(1.2); }

.social-media .resume {
  border: solid #0077b5; }

.social-media .resume:hover {
  color: #2aa2ef;
  border: solid #2aa2ef;
  transform: scale(1.1); }

.social-media .resume:focus {
  color: #2aa2ef; }

.autocomplete {
  position: relative; }
  .autocomplete__input {
    width: 50%;
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }
  .autocomplete__close {
    position: absolute;
    font-size: 1.3rem;
    color: #777;
    z-index: 20;
    top: 5rem;
    left: calc(50% - 5rem);
    cursor: pointer;
    display: none; }
  .autocomplete__close.visible {
    display: block; }
  .autocomplete__dialogue {
    width: 50%;
    display: none;
    min-height: 4rem;
    max-height: 33rem;
    overflow: scroll;
    border-top: 1px solid #999; }
  .autocomplete__dialogue.open {
    display: block; }
  .autocomplete__dialogue div {
    padding: 1.5rem 1rem 0 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .2s ease; }
  .autocomplete__dialogue div:hover {
    background: #f2f2f2; }

.modals__modal-container {
  position: fixed;
  padding: 5rem;
  border-radius: .5rem;
  min-width: 40rem;
  background-color: #2980b9;
  color: white;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -200%);
  transform: translate(-50%, -200%);
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out; }

.modals__modal:before {
  content: "";
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.modals__modal:target:before {
  display: block; }

.modals__modal:target .modals__modal-container {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    padding: 4rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-left: 2rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2rem) / 3); }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }

.header__primary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #777;
  background-color: rgba(235, 235, 235, 0.9);
  height: 12rem;
  animation: navMove .4s ease-out; }
  .header__primary--logo-curlies {
    color: #2980b9; }
  .header__primary--logo-name {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.2;
    color: #222; }
  .header__primary--logo-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.4;
    color: #222; }
  .header__primary--nav {
    font-size: 1.6rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700; }
    .header__primary--nav ul {
      list-style-type: none;
      display: flex; }

.main {
  width: calc(80% - 5rem);
  margin: 40px auto; }
  .main--subhead {
    padding-top: 2rem; }
  .main__about-me {
    background: url("../img/hero2.jpeg");
    background-size: cover;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }
    .main__about-me--img-me {
      display: block;
      margin: 0 auto; }
    .main__about-me--abt-me {
      font-size: 1.8rem;
      background: rgba(68, 68, 68, 0.6);
      font-weight: 600;
      color: #efefef;
      padding: 2rem; }
    .main__about-me--experience {
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: underline; }
