$grid-width: 100rem;
$gutter-horizontal: 2rem;
$gutter-vertical: 4rem;

// colors
$color-light-black: #222;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-darker: #444;
$color-grey-light: #efefef;

$color-primary-blue: #2980b9;
$color-primary-blue-lighter: rgb(62, 155, 218);

// font
$default-text-font: 1.6rem;