.header__primary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid $color-grey-dark;
    background-color: rgba(235, 235, 235, 0.9);
    height: 12rem;
    animation: navMove .4s ease-out;

    &--logo {
        &-curlies {
            color: $color-primary-blue;
        }
    
        &-name {
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 1.2;
            color: #222;
        }
    
        &-title {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1.4;
            color: #222;
        }
    }

    &--nav {
        font-size: $default-text-font;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;

        & ul {
            list-style-type: none;
            display: flex;
        }
    }
}


