.portfolio-image {
    
    text-align: center;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
    // box-shadow: 0 1.5rem 2rem rgba($color-black, 0.3);
    backface-visibility: hidden;

    &--img {
        height:20rem;
        width:20rem;
        object-fit:cover;

        // @media screen and (max-width: 700px) {
        //     height: 15rem;
        // }
    }

    &--text {
        text-align: center;
        font-size: 1.6rem;
        color: $color-grey-darker;
        letter-spacing: 1.1px; 
    }

    &:hover {
        transform: translateY(-1rem) scale(1.04);
        // box-shadow: 0 2rem 3rem rgba($color-black, 0.4);
    }
}




