.modal {

    &-outer-away {
        position: fixed;
        top: 0;
        left: 1000rem;
    }
    &-outer-in {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        background-color: rgba(0, 0, 0, .2);
        height: 100vh;
        width: 100vw;
    }
    &-inner {
        background-color: white; 
        position: relative;
        top: 10rem;
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }

    &-x {
        font-size: 1.6rem;
        float: right;
        padding: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
}