.main {
    width: calc(80% - 5rem);
    margin: 40px auto;

    &--subhead {
        padding-top: 2rem;
    }

    &__about-me{
        height: 50rem;
        position: relative;
        text-align: center;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-blue-lighter, .8),
            rgba($color-primary-blue, .8)),
        url('../img/hero2.jpeg');
        background-size: cover;
        box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 50%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);

        &--img-me {
            position: absolute;
            top: 40%;
            left: 15%;
            opacity: .8;
            height: 20rem;
            border-radius: 50%; 

            &--second {
                position: absolute;
                top: 40%;
                left: 50%;
                margin-right: 2rem;
            }
        }

        &--abt-me {
            font-size: 1.8rem;
            font-weight: 600;
            color: $color-grey-light;
            letter-spacing: 1.2px;
            padding: 2rem;
        }

        &--experience {
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: underline;
        }
    } 

    &__contact-me{
        
    }

    &__portfolio{
        
    }

    &__skills{
        
    }
}

